.logo {
  font-family: Raleway, sans-serif;
  margin-right: 93px;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: $accent-color;
}

.logo--header {
  color: $main-color-text;
}

.logo--footer {
  color: $complementary-color;
}
