.social {
  display: flex;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
  @include transition;
  & .icon-link {
    @include display-flex-centr;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    @include transition;
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.icon-link:hover,
.icon-link:focus {
  background-color: $accent-color;
  outline: none;
  .social-icon {
    fill: $complementary-color;
  }
}

.social-icon {
  @include transition;

  fill: $color-icon;
}

.social-icon--footer {
  fill: $complementary-color;
}

// логотипы клиентов

.clients {
  padding: 94px 0px;
}

.icon-clients {
  @include display-flex-centr;
}

.icon-company:not(:last-child) {
  margin-right: 30px;
}

.icon-company-link {
  @include display-flex-centr;
  @include transition;
  border: 1px solid $color-icon;
  border-radius: 4px;
  &:hover,
  &:focus {
    outline: none;
    border-color: $accent-color;
  }
}

.icon-logo {
  padding: 16px 32px;
  width: 100%;
  height: 100%;
  fill: $color-icon;
  @include transition;
  .icon-company-link:hover &,
  .icon-company-link:focus & {
    outline: none;
    fill: $accent-color;
  }
}
