.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  height: 581px;
  width: 528px;
  padding: 40px;
  border-radius: 4px;
  background-color: $complementary-color;
  text-align: center;
  font-size: 14px;
}

.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: local;
  fill: #000;

  cursor: pointer;
  .close-icon:hover {
    fill: $accent-color;
  }
}

.close-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  transform: translate(-50%, -50%);
  fill: #000;

  @include transition;
}

//форма заполнения

.fieldset {
  border: none;
  margin: 0px 0px 20px;
  padding: 0px;
}

.form-name {
  display: flex;
  flex-direction: column;
  position: relative;

  @include transition;
}

.label-item {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: $secondary-color-text;

  @include transition;

  cursor: pointer;
}
