//color

$accent-color: #2196f3;
$main-color-text: #212121;
$secondary-color-text: #757575;
$main-fill-color: #e5e5e5;
$secondary-fill-color: #f5f4fa;
$filler-color: #2f303a;
$complementary-color: #ffffff;
$border-color: #cecece;
$color-icon: #afb1b8;

$font-famale:$font-famale {
    font-family: Roboto, sans-serif;
    color: $main-color-text;
  font-family: Roboto, sans-serif;
  font-size: ;
  letter-spacing: 3%;
  font-weight: 700;
  font-style: normal;
}